# ============================================================================
# Variables globales de infraestructura
# ============================================================================
POSTGRES_ADMIN_USER=vacaciones_user
POSTGRES_ADMIN_PASSWORD=vacaciones_pass
POSTGRES_MULTIPLE_DATABASES=db_solicitudes,db_aprobaciones,db_auth,db_politicas

MONGO_INITDB_ROOT_USERNAME=mongo_user
MONGO_INITDB_ROOT_PASSWORD=mongo_pass

KAFKA_BOOTSTRAP=kafka:9092

# ============================================================================
# ms-solicitud
# ============================================================================
MS_SOLICITUD_DB_USER=solicitudes_user
MS_SOLICITUD_DB_PASS=solicitudes_pass
MS_SOLICITUD_DB_NAME=db_solicitudes

# ============================================================================
# ms-aprobaciones
# ============================================================================
MS_APROBACIONES_DB_USER=aprobaciones_user
MS_APROBACIONES_DB_PASS=aprobaciones_pass
MS_APROBACIONES_DB_NAME=db_aprobaciones

# ============================================================================
# mcsv-auth (aun no se usa en flujo final, pero queda preparado)
# ============================================================================
MS_AUTH_DB_USER=admin
MS_AUTH_DB_PASS=admin
MS_AUTH_DB_NAME=db_auth
